@import url('./styles.css');

main{
    background: #161A30;
    height: 200vh;
    padding-inline-start: 15.5%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.info-server{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.a{
    background: #31304D;
    padding: 20px 6%;
    border-radius: 10px;
    box-shadow: 0 0 15px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 5px;
    background: #04c1ec3f;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 8px;;
}

.fa-solid{
    font-size: 25px;
    color: #00d9ff
}

.a .des{
    font-size: 18px;
}